.par{
    color: rgb(141, 141, 141);
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(238, 238, 238);
}
.impar{
    color: rgb(36, 142, 230);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(177, 220, 255);
}